#mask {
	background: rgba(0,0,0,0.5);
	z-index: 1000000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    display: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    
    &.visible {
        display: block;
        opacity: 1;
    }

}

.modal {
    background-color: #fff;
    padding: 30px;
    width: 50%;
    position: fixed;
    z-index: 1000001;
    display: none;
    border-radius: 4px;

    left: 0;
    right:0;
    top: 50vh; 
    transform: translate(50%, -50%);
    opacity: 0;
    transition: opacity .5s ease-in-out;

    @include breakpoint('mini') {
        width: 90%;
        transform: translate(6%, -50%);
    }

    &.visible {
        display: block;
        opacity: 1;
    }

    > .close, .close-img {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        font-size: 16px;
        color: #999;
        border-radius: 2px;
        border: 1px solid #fafafa;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all .3s ease);

        &:hover {
            border: 1px solid #00ccf3;
            color:  #00ccf3;
        }

        i {
            color:  #00ccf3;
        }
    }

    .btn {
        margin: 1rem auto 0 auto !important;
        max-width: 150px;
    }

    .wrap {
        display: flex;
        flex-direction: column;


        h2 {
            color: #343434;
            font-size: 3rem;
            text-align: center;
        }


    }

    &#customAlert, 
    &#customConfirm,
    &#customErros {
        min-width: 300px;
        max-width: calc(100% - 40px);
        text-align: center;

        div.title {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
            line-height: 120%;
            color:  #00ccf3;
        }

        div.message {
            line-height: 120%;
            color: #343434;
        }

        div.actions {
            line-height: 120%;
            margin-top: 20px;

           
            a.verify-question {
                color: #FFF;
                background-color:  #00ccf3;
                margin: 40px auto 0;
                height: 40px;
                width: 40%;
            }
        }
    }

}

#customErros  {
    .erros {
        margin: 20px 0 20px 20px;

        ul {
            li {
                list-style: disc;
                text-align: left;
            }
        }
    }
}