// ====================================================================
// Footer
// ====================================================================

footer {
    
    width: 100%;
    height: 150px;

    background: #1f2024;
    box-shadow: 0 0 5px 0 #000;
    z-index: 10;
    padding: 2.5rem 0 0 0;

    div.container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul.social-medias {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;

            li {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 50px;
                height: 50px;

                background: #616161;
                cursor: pointer;
                margin: 0 1rem;
                transition: all .3s ease-in-out;
                
                &:hover {
                    background: #00ccf3;
                    transform: scale(0.95)
                }

                &.linkedin:hover {
                    background: #0077B5;
                }
                &.github:hover {
                    background: #333;
                }
                &.facebook:hover {
                    background: #3C5A99;
                }
                &.instagram:hover {
                    background: #f09433; 
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                }
                &.twitter:hover {
                    background: #1da1f2;
                }

                a {
                    font-size: 2rem;
                    color: #FFF;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        small.copyright {
            margin: 2rem 0 0 0;
            color: #FFF;
            font-weight: 500;
        }
    }

}

