// ====================================================================
// Global
// ====================================================================

// -------------------------------------
// Body
// -------------------------------------
:root {
    font-size: 62.5%;
    body {
        color            : $body-font-color;
        font-family      : $body-font-family !important;
        font-weight      : $body-font-weight;
        font-style       : $body-font-style;
        // Body font size 16px
        font-size: 1.6rem;
     
        &.lockScroll {
          overflow: hidden;
        }
      }

    }


// -------------------------------------
// Container
// -------------------------------------
.container
{
    position: relative; 
    margin: 0 auto 0 auto;
}
@media (min-width: 1px) and (max-width: 769px)
{
    .container
    {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 960px)
{
    .container
    {
        width: 768px;
    }
}
@media (min-width: 960px) and (max-width: 1220px)
{
    .container
    {
        width: 960px;
    }
}
@media (min-width: 1220px) and (max-width: 1440px)
{
    .container
    {
        width: 1170px;
    }
}
@media (min-width: 1440px)
{
    .container
    {
        width: 1170px;
    }
}

// -------------------------------------
// Headers
// -------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family    : $header-font-family;
  font-weight    : $header-font-weight;
  font-style     : $header-font-style;
  color          : $header-font-color;
  text-rendering : $header-text-rendering;
  margin-top     : $header-top-margin;
  margin-bottom  : $header-bottom-margin;
  line-height    : $header-line-height;

}

h1 { 
    font-size : $h1-font-size; 
    text-transform : uppercase;
    margin: 0 0 1rem 0;
}
h2 { font-size : $h2-font-size; }
h3 { font-size : $h3-font-size; }
h4 { font-size : $h4-font-size; }
h5 { font-size : $h5-font-size; }
h6 { font-size : $h6-font-size; }

// -------------------------------------
// Hr
// -------------------------------------

hr {
  border: $hr-border-style $hr-border-color;
  border-width: $hr-border-width 0 0;
  clear: both;
  margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
  height: 0;
}

// -------------------------------------
// Paragraph
// -------------------------------------

p {
  font-family    : $p-font-family;
  font-weight    : $p-font-weight;
  font-size      : $p-font-size;
  line-height    : $p-line-height;
  margin-bottom  : $p-margin-bottom;
  text-rendering : $p-text-rendering;
}

span {
    font-family    : $span-font-family;
    font-size      : $span-font-size;
}

em, i {
  font-style  : italic;
  line-height : inherit;
}

strong, b {
  font-weight : $font-weight--bold;
  line-height : inherit;
}

small {
    font-family: $p-font-family;
    font-size   : $small-font-size;
    line-height : inherit;
    color       : #6F6F6F;
}

// -------------------------------------
// Links
// -------------------------------------

a{
    color: #343434;
    text-decoration: none;
    &:hover, &:not[class^="btn--"]{
        text-decoration: underline;
    }
}

:focus{
    outline:none !important;
}